.home-bg {
  background-color: white;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.home-img {
  height: 300px;
  width: 300px;
}

.button-style {
  display: flex;
  flex-direction: row;
  align-items: center;
}
